# Ignore most files since this repository is located in the home directory
*
# Manually un-ignore a file whenever it should be tracked
!bin
!bin/*
!.config
!.config/git
!.config/git/*
!Xresources
!.cwmrc
!.gitconfig
!.gitignore
!.kshrc
!.mg
!.profile
!.xsession
!README.org
!.exrc
