# I ignore most files as since this repository is located in my home directory
*
# Whenever a file should be tracked I manually un-ignore them here
!.config
!bin
!Xresources
!.cwmrc
!.gitconfig
!.gitignore
!.kshrc
!.mg
!.profile
!.xsession
!README.org
