[user]
	name = Olav Fosse
	email = fosseolav@gmail.com

# The aliases use the following form
# [x characters from the start of command][x characters from the start of flag]
[alias]
	a = add
	c = commit
	cm = commit --message
	ch = checkout
	b = branch
	p = push
	pu = pull
	t = tag
	s = status
	d = diff
	ds = diff --staged
	l = log
	cg = config --global
	ai = add --interactive
	ap = add --patch
